name: CI

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: Lint & Check Features
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy

      - uses: taiki-e/install-action@v2
        with:
          tool: just,cargo-hack,cargo-machete,taplo-cli,typos-cli,rumdl

      - name: Lint
        run: just lint

      - name: Check features
        run: just check-feature
